<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.board.dao.BoardDao">

<!-- 글 등록 -->
<insert id="insertWrite"
		parameterType="com.me.board.dto.WriteDTO"
		useGeneratedKeys="true"
		keyProperty="idx"
		>
	INSERT INTO tb_board (title,contents,writer,password) 
	VALUES (#{subject},#{contents},#{username},#{password})

</insert>

<select id="printList" resultType="com.me.board.dto.ListVO">
	SELECT IDX,TITLE,CONTENTS,INSERTTIME,VIEWCNT,PASSWORD,WRITER
	FROM tb_board
	ORDER BY IDX desc 
	LIMIT #{startList},#{listSize}
</select>

<!-- 전체 글 개수 가져오기 -->
 <select id="getBoardListCnt" resultType="int">
	SELECT count(*) as listCnt FROM tb_board
</select>

<!-- 게시물 조회 -->
<select id="getDetailedView" resultType="com.me.board.dto.ListVO">
	SELECT IDX,TITLE,CONTENTS,INSERTTIME,VIEWCNT,PASSWORD,WRITER
	FROM tb_board
	Where idx = #{idx}
</select>
</mapper>